.d-flex {
  display: flex;
}
.block {
  flex: 1;
  border: 1px solid #fc7777;
  background-color: burlywood;
  min-height: 50vh;
  text-align: center;
  padding: 7px;
}
.Card-Item {
  background-color: aqua;
  padding: 7px;
  border: 1px solid #0f7ac6;
  color: #000;
}
.Dropable {
  min-height: 200px;
  width: 100%;
  border: 1px dotted;
}
.formData {
  padding: 15px;
  margin-bottom: 30px;
}

.formData input {
  padding: 7px;
  margin-bottom: 30px;
}
